<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>color01</key>
	<dict>
		<key>DAY</key>
		<string>272727</string>
		<key>NIGHT</key>
		<string>F0FFFF</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>color02</key>
	<dict>
		<key>DAY</key>
		<string>F0FFFF</string>
		<key>NIGHT</key>
		<string>272727</string>
		<key>STYLE1</key>
		<string>D3366F</string>
		<key>STYLE2</key>
		<string>6CC1A2</string>
		<key>STYLE3</key>
		<string>E5B648</string>
	</dict>
	<key>color03</key>
	<dict>
		<key>DAY</key>
		<string>F8F8FF</string>
		<key>NIGHT</key>
		<string>E6E6FA</string>
		<key>STYLE1</key>
		<string>F0FFFF</string>
		<key>STYLE2</key>
		<string>F0FFFF</string>
		<key>STYLE3</key>
		<string>F0FFFF</string>
	</dict>
	<key>color04</key>
	<dict>
		<key>DAY</key>
		<string>F0FFFF</string>
		<key>NIGHT</key>
		<string>272727</string>
		<key>STYLE1</key>
		<string>F8F8FF</string>
		<key>STYLE2</key>
		<string>F8F8FF</string>
		<key>STYLE3</key>
		<string>F8F8FF</string>
	</dict>
	<key>color05</key>
	<dict>
		<key>DAY</key>
		<string>272727</string>
		<key>NIGHT</key>
		<string>F0FFFF</string>
		<key>STYLE1</key>
		<string>F0FFFF</string>
		<key>STYLE2</key>
		<string>F0FFFF</string>
		<key>STYLE3</key>
		<string>F0FFFF</string>
	</dict>
	<key>color06</key>
	<dict>
		<key>DAY</key>
		<string>F0FFFF</string>
		<key>NIGHT</key>
		<string>272727</string>
		<key>STYLE1</key>
		<string>F0FFFF</string>
		<key>STYLE2</key>
		<string>F0FFFF</string>
		<key>STYLE3</key>
		<string>F0FFFF</string>
	</dict>
</dict>
</plist>
