<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DAY</key>
	<dict>
		<key>image01</key>
		<string>night_home</string>
		<key>image02</key>
		<string>night_discover</string>
		<key>image03</key>
		<string>night_me</string>
		<key>image04</key>
		<string>details_white</string>
		<key>image05</key>
		<string>switch_on</string>
	</dict>
	<key>NIGHT</key>
	<dict>
		<key>image01</key>
		<string>day_home</string>
		<key>image02</key>
		<string>day_discover</string>
		<key>image03</key>
		<string>day_me</string>
		<key>image04</key>
		<string>details_dark</string>
		<key>image05</key>
		<string>switch_off</string>
	</dict>
	<key>STYLE1</key>
	<dict>
		<key>image01</key>
		<string>style1_home</string>
		<key>image02</key>
		<string>style1_discover</string>
		<key>image03</key>
		<string>style1_me</string>
		<key>image04</key>
		<string>details_white</string>
		<key>image05</key>
		<string>switch_on</string>
	</dict>
	<key>STYLE2</key>
	<dict>
		<key>image01</key>
		<string>style2_home</string>
		<key>image02</key>
		<string>style2_discover</string>
		<key>image03</key>
		<string>style2_me</string>
		<key>image04</key>
		<string>details_white</string>
		<key>image05</key>
		<string>switch_on</string>
	</dict>
	<key>STYLE3</key>
	<dict>
		<key>image01</key>
		<string>style3_home</string>
		<key>image02</key>
		<string>style3_discover</string>
		<key>image03</key>
		<string>style3_me</string>
		<key>image04</key>
		<string>details_white</string>
		<key>image05</key>
		<string>switch_on</string>
	</dict>
</dict>
</plist>
